{% extends 'root.html' %}
{% block content %}
<body background="../static/img.png">
<div class="shadow p-3 mb-5 bg-dark rounded">
  <center><h1 style="color:#42a642">GBC MOVIE RECOMMENDER</h1></center>
  <center><h3 style="color:#42a642"><i>Enter the movie you would like to watch today!</i></h3></center>
</div>

  <form action="{{url_for('recommend')}}">
    <input type="text" name="movie" class="form-control" placeholder="ENTER MOVIE NAME">
    <br>
    <input type="submit" class="btn btn-info" value="Enter">
  </form>
  </body>
{% endblock %}
