{% extends 'root.html' %}
{% block content %}

  {% if t=='s' %}
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h3 style="color:#89d689">Sorry! This movie is not in our database.</h3>
    <h3 style="color:#89d689">Please check if you spelled it correct.</h3>
    <h3 style="color:#89d689">Or try with another movie.</h3>
  </div>

  {% else %}
  <div class="shadow p-3 mb-5 bg-dark rounded">
    <center><h1 style="color:#89d689">"{{movie}}" is a great choice!</h1><p style="font-size:48px">&#128525;</p></center>
    <h3 style="color:#89d689"><i>Recommended movies for your choice:</i></h3>
  </div>

    <ul class="list-group list-group-flush">
      {% for m in r %}
        <li class="list-group-item" style="color:#334f33"><strong><span style="text-transform:uppercase">{{m|capitalize}}</span></strong></li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
