<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GBC</title>
    <link rel="shortcut icon" href="/static/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-dark bg-dark">
      <h3><a style="color:#69c969" class="nav-link" href="{{url_for('home')}}">Home</a></h3>
    </nav>

      <div class="jumbotron">
        {% block content %}
        {% endblock %}
      </div>

    </div>


    <footer class="Footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text" style="color:#69c969">Made with</h5><span style="font-size:150%;color:red;">&hearts;<h5 style="color:#69c969"><i>by Shrivatsa</i></h5>

        </div>
    <div class="footer-copyright">
      <div class="container">
      © <a class="orange-text text-lighten-3" href="https://www.linkedin.com/in/shrivatsa-krishna-4573b1151/">Copyright GBC-2020</a>
      </div>
    </div>
  </footer> 
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script>
    $(document).ready(function(){
$('select').not('.disabled').formSelect();
});

</script>
 
  
  </body>
</html>
